html, body {
	height: 100%;
}
body {
	background-color: #FFF;
	margin: 0;
	font-family: Helvetica, sans-serif;;
	overflow: hidden;
}
a {
	color: #ffffff;
}

/*Three.js
-----------------------------------*/

#stats{
	position:absolute;
	z-index: 1000;
	
}

/*Element
-----------------------------------*/

.element {
	width: 400px;
	height: 160px;
	text-align: center;
	cursor: default;
}




.element.year {
	font-size:36px;
	
}

.element.wc img{
	width: 100px;
}

.element.wck2016{
	width: 1000px;
	text-align: center;
}



.element.wck2016 .wapuu{

	position:absolute;
}

.element.wck2016 .wapuu_hover{
	left: 0;
	margin-top: 30px;
	width: 200px;
}

.element.wck2016 .wapuu_headset{
	right: 0;
	width: 180px;
}

.element.wck2016 .logo{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;

}


/*Point
-----------------------------------*/
.point{
	background: #000000;
}

.point-l{
	width: 16px;
	height: 16px;
	border-radius: 8px;
}
	

.point-m{
	width: 8px;
	height: 8px;
	border-radius: 4px;
}

.point-s{
	width: 4px;
	height: 4px;
	border-radius: 2px;
}